---
const { image, name, title, category, description } = Astro.props;
---

<article class="bg-primary-50 rounded-xl border border-acc_yel-600 py-s px-s shadow-md w-[240px] h-[360px] lg:w-[280px] lg:h-[360px] mx-auto">
  <img src={image} alt={name} class="rounded-sm mb-xs mx-auto w-full h-24 object-cover" />

  <h4 class=" text-sec_bl-950 ">{name}</h4>
  <div class="w-4xl h-1 bg-acc_yel-600 mb-3"></div>

  <p class="text-xs text-sec_bl-950 font-semibold mb-2">{title}</p>
  <p class="text-xs text-sec_bl-950 mb-3">{category}</p>

  <p class="text-xs text-sec_bl-950">{description}</p>
</article>