---
const { image, name, title, category, description } = Astro.props;
---

<article class="bg-primary-50 rounded-xl border  border-acc_yel-600 py-s px-s shadow-md w-[240px] h-[420px] lg:w-[280px] lg:h-[420px] mx-auto">
  <img src={image} alt={name} class="rounded-sm mb-xs mx-auto w-full h-36 object-cover" />

  <h4 class=" text-3xl text-sec_bl-950 mb-xxs">{name}</h4>
   <div class="w-full h-1 bg-acc_yel-600 mb-xxs"></div> 
  <p class="text-sm text-sec_bl-950 font-semibold">{title}</p>
  <p class="text-xs font-light text-sec_bl-950 mb-xs">{category}</p>
 

  <p class="text-xs text-sec_bl-950">{description}</p>
</article>