---
const { href = "#", target = "_self", variant = "primary", size = "standard", icon, hoverIcon, iconPosition = "right" } = Astro.props;

const linkStyling = "inline-flex items-center gap-2 font-knap font-semibold transition focus-visible:ring-2 focus-visible:ring-sec_bl-100";

const baseButtonWrap = "relative group overflow-hidden";

// variant
const variantClasses = {
  cta: `${baseButtonWrap} bg-acc_yel-500 text-sec_bl-950 text-[14px] rounded-full px-[28px] py-[14px]`,
  primary: `${baseButtonWrap} bg-acc_yel-500 text-sec_bl-950 rounded-full px-[32px] py-[16px] text-body-sm md:text-body-sm-tablet lg:text-body-sm-desktop`,
  secondary: `${baseButtonWrap} bg-transparent border border-sec_bl-950 hover:border-neu_db-500 text-sec_bl-950 hover:text-primary-50 rounded-full px-[32px] py-[16px] text-body-sm md:text-body-sm-tablet lg:text-body-sm-desktop`,
  tertiary: `${baseButtonWrap} bg-acc_gr-500 text-sec_bl-950 rounded-full px-[32px] py-[16px] text-body-sm md:text-body-sm-tablet lg:text-body-sm-desktop`,
  icon: `${baseButtonWrap} bg-acc_yel-500 text-sec_bl-950 rounded-full p-xxs flex items-center gap-2`,
};

// variants hover-bg
const variantBackgrounds = {
  cta: "bg-acc_gr-500",
  primary: "bg-acc_gr-500",
  secondary: "bg-neu_db-500",
  tertiary: "bg-acc_yel-500",
  icon: "bg-acc_gr-500",
};

// size
const sizeClasses = {
  full: "w-full mx-auto items-center justify-center",
  standard: "w-auto",
};
---

<a href={href} target={target} class={`${linkStyling} ${variantClasses[variant]} ${sizeClasses[size]}`}>
  <!-- Swipe hover bg -->
  <span class={`absolute inset-0 w-0 ${variantBackgrounds[variant] ?? "bg-acc_yel-500"} transition-all duration-300 ease-in-out group-hover:w-full`}></span>

  <!-- indhold -->
  <span class="relative z-10 flex items-center gap-2">
    <slot />
    {icon && iconPosition === "right" && <img src={icon} alt="" class="w-6 h-6" aria-label="Bestl Elby" />}
  </span>
</a>
