---
const { href = "#", target = "_blank", variant = "primary", size = "standard", icon, iconPosition = "right" } = Astro.props;

const linkStyling = "inline-flex items-center gap-2 font-knap font-semibold transition focus-visible:ring-2 focus-visible:ring-sec_bl-100";

const variantClasses = {
  textlink: "text-acc_gr-700 hover:text-neu_dg-800 text-body-sm md:text-body-sm-tablet lg:text-body-sm-desktop",
  cta: "bg-acc_yel-500 text-sec_bl-950 text-[14px] hover:bg-acc_yel-600 rounded-full px-[28px] py-[14px]",
  primary: "bg-acc_yel-500 text-sec_bl-950 hover:bg-acc_yel-600 rounded-full px-[32px] py-[16px] text-body-sm md:text-body-sm-tablet lg:text-body-sm-desktop",
  secondary: "bg-transparent border border-sec_bl-950 text-sec_bl-950 hover:bg-neu_dg-800 hover:text-primary-500 hover:border-600 rounded-full px-[30px] py-[16px] text-body-sm md:text-body-sm-tablet lg:text-body-sm-desktop",
  secondaryHero: "bg-transparent border border-primary-50 text-primary-50 hover:bg-primary-50 hover:text-sec_bl-950 rounded-full px-[32px] py-[16px] text-body-sm md:text-body-sm-tablet lg:text-body-sm-desktop",
  tertiary: "bg-acc_gr-500 text-sec_bl-950 hover:bg-acc_gr-700 hover:text-primary-50 rounded-full px-[32px] py-[16px] text-body-sm md:text-body-sm-tablet lg:text-body-sm-desktop",
  icon: "bg-acc_yel-500 text-sec_bl-950 hover:bg-acc_yel-600 hover:text-primary-50 rounded-full p-xs flex items-center gap-2",
};

const sizeClasses = {
  full: "w-full mx-auto items-center justify-center",
  standard: "w-auto",
};
---

<a href={href} target={target} class={`${linkStyling} ${variantClasses[variant]} ${sizeClasses[size]}`}>
  <slot />
  {icon && iconPosition === "right" && <img src={icon} alt="" class="w-6 h-6" />}<!-- Render kun hvis ikonet er til stede -->
</a>
