---
import Link from "./Link.astro";

const { header, text, buttonText, linkText, buttonlink = "#", buttonlink2 = "#", linkVariant = "primary", linkVariant2 = "textlink", icon } = Astro.props;
---

<section class="pt-xl px-sm">
  <h2 class="text-center pb-sm" set:html={header} />

  {text && <p class="text-center mb-s" set:html={text} />}

  <div class="flex justify-center">
    <Link href={buttonlink} variant={linkVariant} size="standard">
      {buttonText}
    </Link>
  </div>
  <div class="py-sm">
    {
      linkText && (
        <Link href={buttonlink2} variant={linkVariant2} size="full" icon={icon}>
          {linkText}
        </Link>
      )
    }
  </div>
</section>
