---
const {
  title,
  subtitle,
  image,
  buildingIcon,
  features = [],
  price,
  pricetitle,
  buttonText,
  buttonLink = "#",
  headerColor = "bg-acc_yel-500", // Default gul
  linkVariant = "primary", // Default primary variant
} = Astro.props;

import Link from "../components/Link.astro";
---

<article class="rounded-sm w-full max-w-sm mx-auto overflow-hidden bg-primary-50 shadow-md">
  <!-- Header -->
  <div class={`${headerColor} p-4 md:p-6 flex items-center gap-4`}>
    <div class="aspect-square bg-primary-50 rounded-full flex items-center justify-center">
      <img src={buildingIcon} alt="card ikon" />
    </div>
    <div>
      <p class="text-body-m md:text-body-md-desktop font-bold">{title}</p>
      <p class="font-regular text-body-sm text-neu_db-700" set:html={subtitle} />
    </div>
  </div>

  <!-- Image -->
  <img src={image} alt={title} class="w-full px-6 pt-6 aspect-[4/2] object-cover" />

  <!-- Features List -->
  <div class="p-6 space-y-1  ">
    {features.map((feature, index) => (
      <div class={`flex items-center gap-3 text-sec_bl-950 text-body-sm md:text-body-sm-tablet py-xxs lg:text-body-sm-desktop border-b border-neu_db-400 ${index === 0 ? 'border-t' : ''}`}>
  <span class="w-12 h-10 flex items-center translate-y-0.5" set:html={feature.icon} />
  <p set:html={feature.text} />
</div>

    ))}
    

    <!-- Price -->
    <div class="py-xxs my-xxs flex flex-row items-baseline md:flex-col lg:flex-row gap-2 w-full">
      <p class="text-body-lg font-bold py-2 md:text-body-lg-tablet lg:text-body-lg-desktop md:order-2 lg:order-none">{price}</p>
      <p class="md:order-1 lg:order-none">{pricetitle}</p>
    </div>

    <!-- Link -->
    <Link href={buttonLink} variant={linkVariant} size="full">{buttonText}</Link>
  </div>
</article>
