---
import Link from "./Link.astro";
const { img, header, text1, text2, alt, buttonText, buttonlink = "#", linkVariant = "primary" } = Astro.props;
---

<section class="flex flex-col md:flex-row w-full mh">
  <div class="basis-full md:basis-[50%] flex items-center justify-center p-sm">
    <div class="max-w-md">
      <h2 class="mb-4" set:html={header} />
      <p class="mb-4" set:html={text1} />
      <p class="mb-6" set:html={text2} />
      <Link href={buttonlink} variant={linkVariant} size="full">{buttonText}</Link>
    </div>
  </div>
  <div class="basis-full md:basis-[50%]">
    <img src={img} alt={alt} class="w-full h-full object-cover" />
  </div>
</section>
