---
import Link from "./Link.astro";
const { img, header, text1, text2, alt, buttonText, buttonlink = "#", linkVariant = "primary" } = Astro.props;
---

<section class="flex flex-col md:flex-row w-full mh">
  <div class="basis-full md:basis-[50%] flex items-center justify-center p-md">
    <div class="max-w-md">
      <h2 class="mb-4">{header}</h2>
      <p class="mb-4">{text1}</p>
      <p class="mb-6">{text2}</p>

      <Link href={buttonlink} variant={linkVariant} size="full">{buttonText}</Link>
    </div>
  </div>
  <div class="basis-full md:basis-[50%]">
    <img src={img} alt={alt} class="w-full h-full object-cover" />
  </div>
</section>
