---
import Link from "./Link.astro";
import Textlink from "./Textlink.astro";

const { img, header, text1, text2, text3, alt, buttonText, buttonlink = "#", linkVariant = "primary", extraLink1 = "", extraLinkImg1 = "", extraLink2 = "", extraLinkImg2 = "", linkType, linkText, href = "#" } = Astro.props;
---

<section class="flex flex-col-reverse md:flex-row w-full">
  <div class="basis-full md:basis-[50%] flex items-center justify-center p-sm md:p-md">
    <div class="max-w-md">
      <h3 class="mb-4" set:html={header} />
      <p class="mb-4" set:html={text1} />
      <p class="mb-6" set:html={text2} />
      <p class="mb-6" set:html={text3} />
      <!-- 💡 Vælg mellem tekstlink og knap -->
      {
        linkText &&
          (linkType === "button" ? (
            <Link href={href} variant={linkVariant} size="standard">
              {linkText}
            </Link>
          ) : (
            <Textlink href={href} linkText={linkText} />
          ))
      }
      {
        buttonText && (
          <Link href={buttonlink} variant={linkVariant} size="full">
            {buttonText}
          </Link>
        )
      }

      <div class="flex gap-4 mt-4">
        {
          extraLink1 && extraLinkImg1 && (
            <a href={extraLink1} target="_blank" rel="noopener">
              <img src={extraLinkImg1} alt="App Store ikon" class="w-36 cursor-pointer" />
            </a>
          )
        }
        {
          extraLink2 && extraLinkImg2 && (
            <a href={extraLink2} target="_blank" rel="noopener">
              <img src={extraLinkImg2} alt="Google Play ikon" class="w-36 cursor-pointer" />
            </a>
          )
        }
      </div>
    </div>
  </div>
  <div class="basis-full md:basis-[50%]">
    <img src={img} alt={alt} class="w-full h-full object-cover" loading="lazy" />
  </div>
</section>
